@{
    ViewBag.Title = "Home";
}
<section class="mapbg">
    <article id="heading">
        <div class="container">
            <h1>Welkom bij <strong>RADAR</strong></h1>
            <p class="baseline">
                De applicatie waarmee je jezelf thuisvoelt  Blabal uaohsd sdfhi sidhf xldgf aroi 
                “Lorem Ipsum dolor sit amet ...”
            </p>
        </div>
    </article>
    <article id="heading2">
        <div class="container">
            <p>
                skjgdhk;dfjg \dasfg\ sdfgasdfg<br />
                <br />
                gsfd<br />
                tg<br />
                sr<br />
                jhts<br />
                rytjwsrtjyertyj<br />
                etdy<br />
                ket<br />
                yu<br />
                tyulryulkrthzdthsreth<br />
                kt<br />
                euyk <br />
                tyulryulkrthzdthsreth<br />
                tyulryulkrthzdthsreth<br />
                tyulryulkrthzdthsreth<br />
                tyulryulkrthzdthsreth<br />
                tyulryulkrthzdthsreth<br />
                tyulryulkrthzdthsreth<br />
                tyulryulkrthzdthsreth<br />

                tyulryulkrthzdthsreth<br />
                tyulryulkrthzdthsreth<br />
                tyulryulkrthzdthsreth<br />
            </p>
        </div>
    </article>
</section>
