<footer>
    <div class="container">
        <div id="socialbuttons">
            <a href="/" title="Radar op facebook">
                <img src="~/Content/Img/Layout/fb.png" alt="Radar facebook"/>
            </a>
            <a href="/" title="Radar op Twitter">
                <img src="~/Content/Img/Layout/twitter.png" alt="Radar Twitter"/>
            </a>
            <a href="/" title="Radar op Google+">
                <img src="~/Content/Img/Layout/googlep.png" alt="Radar Google+"/>
            </a>
        </div>
        <div id="copy">
            &copy;2013-2014 <a href="http:twitter.com/stefchri" title="Ontwikkelaar Stefchri op Twitter">Stefchri</a> 
        </div>
    </div>
</footer>