<header>
    <div class="container">
        <a href="/" title="Radar Home" id="logo">
            <img src="~/Content/Img/Layout/logo.png" alt="Radar Logo"/>
        </a>
        <div>
            <a href="/Account/Register" title="Registreer je bij Radar">Registreer je nu</a>
        </div>
        <div class="clear"></div>
    </div>
</header>