 <section class="mapbg">
	<article id="heading">
        <div class="container">
            <h1>Welkom bij <strong>RADAR</strong></h1>
            <p class="baseline">
                De applicatie waarmee je jezelf thuisvoelt  Blabal uaohsd sdfhi sidhf xldgf aroi 
                “Lorem Ipsum dolor sit amet ...”
            </p>
        </div>
    </article>
    <article id="heading2">
        <div class="container">
            <h2>Neem deel aan deze nieuwe innovatie.</h2>
            <a ng-href="{{webBasePath}}account/login?redirectUrl={{currentUrl}}" class="btn btn-primary">Login</a>
            <a ng-href="{{webBasePath}}account/register?redirectUrl={{currentUrl}}" class="btn btn-primary">Registreer</a>
            <a ng-href="#/people" class="btn btn-primary">Track people</a>
        </div>
    </article>
</section>