<div class="container">
	<div class="row">
        <div class="col-md-3" ng-hide="user.Avatar">
            <img ng-src="img/layout/placholder.png" alt="Profile image" class="img-rounded profileimg" />
            <h2>{{user.Username}}</h2>
            <p>{{user.Email}}</p>
        </div>
        <div class="col-md-3" ng-show="user.Avatar">
            <img ng-src="img/avatars/{{user.Avatar}}" alt="{{user.Username}}" class="img-rounded profileimg" />
            <h2>{{user.Username}}</h2>
            <p>{{user.Email}}</p>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div ng-controller="ProfileTabsController" class="col-md-12">
                    <a href="#/profile/edit" class="btn btn-default right">Profiel wijzigen</a>
                    <tabset>
                        <tab>
                            <tab-heading>Profielsgegevens</tab-heading>
                            <h3>Je profiel bij <strong>RADAR</strong></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Naam</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Username}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Email</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Email}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Geboortedatum</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.DateOfBirth | date:'dd-MM-yyyy'}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Geslacht</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Gender == "m"? "Man" : "Vrouw"}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Bij RADAR sinds</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.CreatedDate | date:'dd-MM-yyyy'}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Bio</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Bio}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Straat</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Location.Street}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Huisnummer</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Location.Number}}</p>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="user.Location.Box">
                                        <div class="col-md-4">
                                            <strong>Bus</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Location.Box}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Postcode</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Location.Zipcode}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Plaats</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Location.City}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Land</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{user.Location.Country}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>Vrienden</tab-heading>
                            <h3>Vrienden op <strong>RADAR</strong></h3>
                            <div class="row">
                                <p class="col-md-12">Vrienden</p>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>Favorieten</tab-heading>
                            <h3>Je favorieten op <strong>RADAR</strong></h3>
                            <div class="row">
                                <p class="col-md-12">Favorieten</p>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>Bedrijven</tab-heading>
                            <h3>Je bedrijven op <strong>RADAR</strong></h3>
                            <div class="row">
                                <p class="col-md-12">Voeg bedrijven toe om ze op de sociale Radar te plaatsen! Het is niet duur en levert veel op.</p>
                                <p class="col-md-12" ng-if="comps == 0">Je hebt je bedrijf nog niet op Radar geplaatst? Doe dat dan maar snel!</p>

                                <!-- LIST OF COMPANIES -->
                                <div class="col-md-12" ng-if="comps > 0">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Naam</th>
                                                <th>Werknemers</th>
                                                <th>Geactiveerd</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="company in user.CompaniesOwned | filter:!DeletedDate'">
                                                <td>{{company.Name}}</td>
                                                <td>{{company.Employees.length}}</td>
                                                <td ng-if="company.ActivatedDate">{{company.ActivatedDate | date:'dd-MM-yyyy'}}</td>
                                                <td ng-if="!company.ActivatedDate"><a href="#/company/{{company.CompanyId}}/activate" title="Activeer je bedrijf met de geleverde code." class="btn btn-link">Activeer</a></td>
                                                <td><a href="#/company/{{company.CompanyId}}/manage" title="Beheer je bedrijf." class="btn btn-primary">Beheren</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-12">
                                    <a href="#/companies/add" title="Bedrijf toevoegen" class="btn btn-default">Bedrijf toevoegen</a>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
	</div>
</div>